.refillWalaContainer {
  /* background: rgb(204,233,238);
  background: linear-gradient(99deg, rgba(204,233,238,1) 0%, rgba(254,254,254,1) 28%, rgba(199,221,226,1) 67%);   */
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  /* background-color: #fff; */
}

.units {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
  /* background-color: #0072ff; */
}

.unit-container {
  padding: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: transform 0.2s;
  background-color: black;
  width: 200px !important;
  border-radius: 4px;
}

.unit-container:hover {
  transform: scale(1.05);
}

.unit-container.out-of-stock {
  opacity: 0.5;
}

.unit-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
}

.unit-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.unit-header.selected {
  background: rgba(0, 0, 0, 0.1);
}

.unit-circle {
  font-size: 17px;
  font-weight: bold;
}

.unit-text {
  font-size: 15px;
  text-align: center;
  margin-top: 8px;
}

.priceWithThuraya {
  position: relative;
  left: 70px;
  top: -60px;
}

.unit-logo {
  position: relative;
  right: 20px;
  top: 30px;
}

.unit-logo img {
  margin-left: 10px;
}

.quantity-controls {
  display: flex;
  align-items: center;
  position: relative;
  right: 10px;
  top: 20px;
}

.quantity-controls button {
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.quantity-controls input {
  width: 50px;
  text-align: center;
  margin: 0 10px;
}

.unit-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: gray;
  text-align: center;
}

.circleText {
  position: relative;
  top: 15px;
}

.summary {
  background: #ffffff;
  border-radius: 10px;
  padding: 10px;
  color: #000;
}

.summary-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.total {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.proceed-button {
  background: rgb(34,167,120);
  background: linear-gradient(76deg, rgba(34,167,120,1) 0%, rgba(117,210,135,1) 100%);
  color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.proceed-button:hover {
  background: rgb(34,167,120);
  background: linear-gradient(76deg, rgba(34,167,120,1) 0%, rgba(82,188,208,1) 0%);
}

.makeRedBorder {
  /* padding: 5px; */
  border-color: gray;
  border-radius: 5px;
  border-style: solid;
}

.makeRedBorder.selected-border {
  border-color: green;
  border-width: 2px;
}
